
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #191919;
}
body {
    background-color: #111111;
    font-family: 'Jacquarda Bastarda 9';
    margin: 0;
}
.menu_link{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    padding: 50px 70px;
}
.cart_btn{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Jacquarda Bastarda 9';
   
}
.banner{
    height: 90vh;
    background-image: url(img/image\ 2.png);
    background-size: cover;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.title{
    font-size: 60px;
    color: #ffffff;
    font-weight: 100;

}